*.o
*.pbi
*.pbd
*.pbd.browse
*.wst
*.wsdt
*.dep
*/Debug/
#/ccs_base/
#/install_logs/
#/uniflash_4.2.1/
#/uninstallers/
#/xdctools_3_50_02_20_core/

#simplelink_cc32xx_sdk_1_40_01_00/*


#only trace simplelink_cc32xx_sdk_1_40_01_00/examples/rtos/CC3220S_LAUNCHXL/demos/network_terminal/freertos/iar/*.c
#and simplelink_cc32xx_sdk_1_40_01_00/examples/rtos/CC3220S_LAUNCHXL/demos/network_terminal/freertos/iar/*.h
/*
!simplelink_cc32xx_sdk_1_40_01_00/
/simplelink_cc32xx_sdk_1_40_01_00/*
!/simplelink_cc32xx_sdk_1_40_01_00/examples/
/simplelink_cc32xx_sdk_1_40_01_00/examples/*
!/simplelink_cc32xx_sdk_1_40_01_00/examples/rtos/
/simplelink_cc32xx_sdk_1_40_01_00/examples/rtos/*
!/simplelink_cc32xx_sdk_1_40_01_00/examples/rtos/CC3220S_LAUNCHXL/
/simplelink_cc32xx_sdk_1_40_01_00/examples/rtos/CC3220S_LAUNCHXL/*
!/simplelink_cc32xx_sdk_1_40_01_00/examples/rtos/CC3220S_LAUNCHXL/demos/
/simplelink_cc32xx_sdk_1_40_01_00/examples/rtos/CC3220S_LAUNCHXL/demos/*
!/simplelink_cc32xx_sdk_1_40_01_00/examples/rtos/CC3220S_LAUNCHXL/demos/network_terminal/
/simplelink_cc32xx_sdk_1_40_01_00/examples/rtos/CC3220S_LAUNCHXL/demos/network_terminal/*
!/simplelink_cc32xx_sdk_1_40_01_00/examples/rtos/CC3220S_LAUNCHXL/demos/network_terminal/freertos/
/simplelink_cc32xx_sdk_1_40_01_00/examples/rtos/CC3220S_LAUNCHXL/demos/network_terminal/freertos/*
!/simplelink_cc32xx_sdk_1_40_01_00/examples/rtos/CC3220S_LAUNCHXL/demos/network_terminal/freertos/iar/
/simplelink_cc32xx_sdk_1_40_01_00/examples/rtos/CC3220S_LAUNCHXL/demos/network_terminal/freertos/iar/settings/*
/simplelink_cc32xx_sdk_1_40_01_00/examples/rtos/CC3220S_LAUNCHXL/demos/network_terminal/freertos/iar/Debug/*
!/simplelink_cc32xx_sdk_1_40_01_00/examples/rtos/CC3220S_LAUNCHXL/demos/network_terminal/freertos/iar/*.c
!/simplelink_cc32xx_sdk_1_40_01_00/examples/rtos/CC3220S_LAUNCHXL/demos/network_terminal/freertos/iar/*.h

*tmp_*
*.icf
*.ewp
*.ewt
*.eww
*.ipcf
*.ewd
*.dat
*.exe
*.html
*.log
*.txt




